@model IEnumerable<BankingSystem.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToAccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToBankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FromAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ToAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ToBankName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>

</tr>
}

</table>
